ul.tabs {
  display: flex;
  flex-wrap: wrap;
  margin-top: 12px;
  background-color: #f4f4f4;
  justify-content: space-between;
  padding: 0px;
  list-style-type: none;
  margin: 0px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

ul.tabs li {
  line-height: 28px;
  padding: 12px;
  position: relative;
  background: none;
  font-size: 20px;
  font-family: "Verdana";
  font-weight: bold;
  font-stretch: expanded;
  text-align: center;
  flex-grow: 1;
  cursor: pointer;
}

ul.tabs li a {
  white-space: nowrap;
  text-decoration: none;
}

ul.tabs li a:hover {
  text-decoration: underline;
}

ul.tabs li.active {
  background-color: #e6ccbe;
}

ul.tabs li.active a {
  color: white;
}

a:visited {
  color: #776274;
}
