.account-box {
  float: right;
}

.account-box-icon {
  color: white;
}

.account-box-button {
  display: block !important;
}

.accout-box-select {
  margin-top: 0;
  /* visibility: hidden; */
  display: none !important;
  float: right;
}

.MuiMenu-paper-56 {
  top: 50px !important;
  right: 15px !important;
  left: auto !important;
}

.MuiMenu-paper-56 ul {
  right: 15px !important;
  float: right;
}

.MuiMenu-paper-56 li {
  margin-left: 20px;
}
